$trait_noteenchantee:"../Images/Traitnoteenchante/trait_noteenchantee.JPG";
$trait_noteenchantee_inverse:"../Images/Traitnoteenchante/trait_noteenchantee_inverse.JPG";
$trait_un_chicalafrancaise:"../Images/Traitchicalafrancaise/trait_un_chicalafrancaise.JPG";
$trait_deux_chicalafrancaise:"../Images/Traitchicalafrancaise/trait_deux_chicalafrancaise.JPG";
$trait_trois_chicalafrancaise:"../Images/Traitchicalafrancaise/trait_trois_chicalafrancaise1.JPG";
$trait_un_ledelicedespapilles:"../Images/Traitledelicedespapilles/trait_un_ledelicedespapilles.JPG";
$trait_deux_ledelicedespapilles:"../Images/Traitledelicedespapilles/trait_deux_ledelicedespapilles.JPG";
$trait_trois_ledelicedespapilles:"../Images/Traitledelicedespapilles/trait_trois_ledelicedespapilles.JPG";
$trait_un_ledelicedespapillesinverse:"../Images/Traitledelicedespapilles/trait_un_ledelicedespapillesinverse.JPG";
$trait_deux_ledelicedespapillesinverse:"../Images/Traitledelicedespapilles/trait_deux_ledelicedespapillesinverse.JPG";
$trait_trois_ledelicedespapillesinverse:"../Images/Traitledelicedespapilles/trait_trois_ledelicedespapillesinverse.JPG";
$trait_gauche_lapalettedugout:"../Images/Traitlelapalettedugout/trait_un_lapalettedugout.JPG";
$trait_droite_lapalettedugoutinverse:"../Images/Traitlelapalettedugout/trait_un_lapalettedugoutinverse.JPG";